<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle btn-light" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#/">
                Uncharted
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#/sign-in">Sign In</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <img class="logo" src="img/logo-large.png">
        <h3>Augment your soundscape</h3>
        <br>
        <a href="#/sign-up/basic" class="btn btn-info btn-lg">Get Started</a>
    </div>
</header>

<!-- About -->
<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>Uncharted is a music discovery service that offers Spotify music suggestions through text messaging</h2>
                <p class="lead">No need to install yet another app on your phone, and avoid annoying notifications.</p>
            </div>
        </div>
    </div>
</section>

<!-- Services -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<section id="services" class="services">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>How It Works</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-4">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-mobile fa-stack-1x"></i>
                        </span>
                            <h4>
                                <strong>Text Messaging</strong>
                            </h4>
                            <p>Interact with Uncharted primarily through text messaging.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-music fa-stack-1x"></i>
                        </span>
                            <h4>
                                <strong>Music Discovery</strong>
                            </h4>
                            <p>Get song recommendations based on your favorite genres.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-smile-o fa-stack-1x"></i>
                        </span>
                            <h4>
                                <strong>Dialects</strong>
                            </h4>
                            <p>Choose what lingo you'd like Uncharted to use when talking to you.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Callout -->
<aside class="callout">
    <div class="text-vertical-center">
        <h1>"I used Uncharted to find my new favorite song!"</h1>
        <p class="lead">— Non-existent Uncharted user</p>
    </div>
</aside>

<!-- Portfolio -->
<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <a href="#/sign-up/basic"><button class="btn btn-info btn-lg sign-up-button">Sign Up For Free</button></a>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h4><strong>Uncharted</strong></h4>
                <p>Built with ♥ at Rochester Institute of Technology</p>
                <hr class="small">
                <p class="text-muted">Copyright &copy; Adam Blaine, Brian Clanton, Andrew Hollenbach, Casey Klimkowsky</p>
            </div>
        </div>
    </div>
</footer>
