/* Global Styles */

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    color: #5bc0de;
}

a:hover,
a:focus,
a:active {
    color: #00b1d2;
}

/* Bootstrap Overrides */

.btn,
.panel,
input.form-control {
    border-radius: 0;
}

.alert {
    font-size: 24px;
    font-weight: 300;
}

.dropdown-menu {
    width: 250px;
    height: 332px;
    overflow: scroll;
}

.dropdown-menu > li > a {
    font-size: 24px;
    font-weight: 300;
}

.dropdown-menu > li > a > strong {
    font-weight: 300;
}

.close {
    float: none;
}

/* Misc. Custom Styles */

.main-content {
    height: 100%;
}

.logo {
    margin-top: 20px;
    margin-bottom: 10px;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 15px;
    font-size: 4em;
    font-weight: 700;
}

.text-vertical-center p.lead {
    font-size: 2.5em;
    margin-top: 15px;
}

/* Custom Horizontal Rule */

hr.small {
    max-width: 100px;
}

/* Navigation */

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: white;
    border-bottom: 1px solid #dcdcdc;
}

.navbar-custom a {
    color: #333;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
    padding-top: 19px;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom button.navbar-toggle {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    padding: 9px 13px;
}

.navbar-custom button.navbar-toggle:hover {
    background-color: #31b0d5;
    border-color: #269abc;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

@media(min-width:768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        background-color: transparent;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom .navbar-brand {
        padding-top: 15px;
    }

    .navbar-custom a {
        color: #fff;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid #dcdcdc;
        background: #fff;
    }

    .navbar-custom.top-nav-collapse a {
        color: rgb(51, 51, 51);
    }
}

/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* About */

.about {
    padding: 50px 0;
}

/* Services */

.services {
    padding: 50px 0;
    background-color: #00b1d2;
    color: white;
}

.service-item {
    margin-bottom: 30px;
}

.service-item .fa-stack-1x {
    color: #00b1d2;
}

/* Callout */

.callout {
    display: table;
    width: 100%;
    height: 350px;
    color: #fff;
    background-color: #e2f2f2;
    color: #7B93A3;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* Sign Up (Home) */

.sign-up-home {
    padding: 50px 0;
}

.sign-up-home .sign-up-button {
    font-size: 36px;
    font-weight: 300;
    padding: 16px 22px;
}

/* Footer */

footer {
    padding: 100px 0;
    border-top: 1px solid #dcdcdc;
}

/* Sign Up */

header.sign-up {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #dcdcdc;
}

.sign-up-form {
    padding-bottom: 100px;
}

.sign-up-form .tagline {
    font-size: 36px;
    margin: 1.5em 1.5em 1em;
}

.sign-up-form input {
    font-size: 30px;
    height: 70px;
    font-weight: 300;
}

.sign-up-form .sign-up-button {
    font-size: 30px;
    width: 100%;
    font-weight: 300;
    margin-bottom: 30px;
}

.breadcrumb {
    border-bottom: 1px solid #dcdcdc;
    padding-top: 0;
    padding-bottom: 0;
}

.breadcrumb > li {
    color: #777;
    font-size: 18px;
    padding: 25px;
}

.breadcrumb > li + li::before {
    content: none;
}

.breadcrumb > .active {
    font-weight: bold;
    color: #000;
    background-color: #eeeeee;
}

/* Music Preferences */

.music-labels {
    margin-top: 0;
    margin-bottom: 40px;
}

.music-labels span {
    margin: 5px;
    font-weight: 400;
}
