<!-- Header -->
<header class="sign-up">
    <div class="text-center">
        <h1><a href="#/">Uncharted</a></h1>
    </div>
</header>

<section>
  <ol class="breadcrumb text-center">
    <li><i class="fa fa-check"></i> Basic Info</li>
    <li class="active">2. Mobile Number</li>
    <li>3. Music Preferences</li>
  </ol>
</section>

<!-- Phone Number -->
<section class="sign-up-form">
  <div class="container" data-ng-if="!submitted">
    <div class="row text-center">
      <div class="col-xs-10 col-xs-offset-1">
        <p class="lead tagline">What's your mobile number?</p>
        <p class="lead">___ is designed to work with you primarily through text messages. Please provide your mobile phone number so ___ can reach you.</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-xs-10 col-xs-offset-1">
        <div class="panel panel-default">
          <div class="panel-body">
            <alert type="{{ message.type }}" data-ng-if="message">{{ message.content }}</alert>
            <form name="phoneInput">
              <div class="form-group">
                <input type="tel" class="form-control" placeholder="Example: (123) 456-7890" data-ng-model="newUserCredentials.phoneNumber" required>
              </div>
              <button type="submit" class="btn btn-lg btn-primary sign-up-button" data-ng-click="savePhoneNumber(phoneInput)">Continue</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" data-ng-if="submitted">
    <div class="row text-center">
      <div class="col-xs-10 col-xs-offset-1">
        <p class="lead tagline">Enter verification code</p>
        <p class="lead">We've sent you a code to verify your phone number.</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-xs-10 col-xs-offset-1">
        <div class="panel panel-default">
          <div class="panel-body">
            <alert type="{{ message.type }}" data-ng-if="message">{{ message.content }}</alert>
            <form>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Example: 12345" data-ng-model="token" required>
              </div>
              <button type="submit" class="btn btn-lg btn-primary sign-up-button" data-ng-click="verify(phoneInput)" data-ng-if="!verified">Verify</button>
              <a href="#/sign-up/music-preferences"><button class="btn btn-lg btn-primary sign-up-button" data-ng-if="verified">Continue</button></a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h4><strong>Uncharted</strong></h4>
                <p>Built with ♥ at Rochester Institute of Technology</p>
                <hr class="small">
                <p class="text-muted">Copyright &copy; Adam Blaine, Brian Clanton, Andrew Hollenbach, Casey Klimkowsky</p>
            </div>
        </div>
    </div>
</footer>