<!-- Header -->
<header class="sign-up">
    <div class="text-center">
        <h1><a href="#/">BrickHack 2015</a></h1>
    </div>
</header>

<section>
  <ol class="breadcrumb text-center">
    <li class="active">1. Basic Info</li>
    <li>2. Mobile Number</li>
    <li>3. Music Preferences</li>
  </ol>
</section>

<!-- Sign-up Form -->
<section class="sign-up-form">
  <div class="container">
    <div class="row text-center">
    	<div class="col-xs-10 col-xs-offset-1">
      		<p class="lead tagline">Sign up for your free ___ account.</p>
      	</div>
    </div>
    <div class="row text-center">
      <div class="col-xs-10 col-xs-offset-1">
        <div class="panel panel-default">
          <div class="panel-body">
            <form>
	            <div class="form-group">
	              <input type="email" class="form-control" placeholder="Email address">
	            </div>
	            <div class="form-group">
	              <input type="password" class="form-control" placeholder="Password">
	            </div>
	            <button type="submit" class="btn btn-lg btn-primary sign-up-button">Sign Up</button>
          	</form>
          <p class="lead">Already a user? <a href="#/sign-in">Sign in</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h4><strong>BrickHack 2015</strong></h4>
                <p>Built with ♥ at Rochester Institute of Technology</p>
                <hr class="small">
                <p class="text-muted">Copyright &copy; Adam Blaine, Brian Clanton, Andrew Hollenbach, Casey Klimkowsky</p>
            </div>
        </div>
    </div>
</footer>